.PasswordOtpwrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffffff;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.PasswordOtpleftPanel {
  background: #ffffffff;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 14px 0 0 14px;
  box-shadow: 0 2px 18px rgba(0,0,0,0.07);
  padding: 32px 0;
  min-height: 405px;
}

.PasswordOtpillustration {
  width: 340px;
  margin-bottom: 18px;
}

.PasswordOtpleftText {
  font-size: 1.3rem;
  color: #000000ff;
  margin-top: 0px;
  cursor: default;
}

.PasswordOtprightPanel {
  background: #e57adc;
  width: 450px;
  border-radius: 0 18px 18px 0;
  box-shadow: 0 2px 18px rgba(0,0,0,0.07);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 54px 55px;
  min-height: 405px;
  cursor: default;
}

.PasswordOtpheading {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffffff;
  margin-bottom: 6px;
}

.PasswordOtpunderline {
  width: 275px;
  height: 3px;
  background: #a80084;
  margin-bottom: 26px;
  border-radius: 2px;
}

.PasswordOtpotpContainer {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.PasswordOtpotpInput {
  width: 35px;
  height: 40px;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #e2e2e2;
  outline: none;
}

.PasswordOtpbutton {
  background: #a80084;
  color: #fff;
  font-weight: 600;
  font-size: 1.3rem;
  border: none;
  border-radius: 6px;
  width: 103.7%;
  text-align: center;
  padding: 10px 45px;
  cursor: pointer;
  transition: background 0.18s, transform 0.18s;
}
.PasswordOtpbutton:hover {
  background-color: #a80084;
  transform: scale(1.05);
}

.PasswordOtpinfoText {
  color: #fff;
  font-size: 1rem;
  text-align: center;
  margin-top: 12px;
  cursor: default;
}

.PasswordOtpresendLink {
  color: #a80084;
  font-size: 0.98rem;
  text-decoration: underline;
  margin: 10px 0 0 0;
  align-self: center;
  cursor: pointer;
  margin-bottom: 20px;
}
.PasswordOtpsendOtpButton {
  margin-top: 20px;
  width: 80%;
  padding: 10px 0;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 6px;
  border: none;
  background-color: #a80084;
  color: white;
  cursor: pointer;
  transition: background 0.18s, transform 0.18s;
  display: block;
  text-align: center;
}

.PasswordOtpsendOtpButton:hover {
  background-color: #a80084;
  transform: scale(1.05);
}
