.wrapperNewPassword {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.leftPanelNewPassword {
  background: #fff;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 14px 0 0 14px;
  box-shadow: 0 2px 18px rgba(0,0,0,0.07);
  padding: 32px 0;
  min-height: 320px;
}

.illustrationNewPassword {
  width: 340px;
  margin-bottom: 18px;
}

.leftTexNewPassword {
  font-size: 1.3rem;
  color: #000;
  margin-top: 0px;
  cursor: default;
}

.rightPanelNewPassword {
  background: #f1c40f;
  width: 450px;
  border-radius: 0 18px 18px 0;
  box-shadow: 0 2px 18px rgba(0,0,0,0.07);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 42px 38px;
  min-height: 250px;
  cursor: default;
}

.headingNewPassword {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
}

.underlineNewPassword {
  width: 230px;
  height: 3px;
  background: #c09319ff;
  margin-bottom: 40px;
  border-radius: 2px;
}

.buttonNewPassword {
  background: #c09319ff;
  color: #fff;
  font-weight: 600;
  font-size: 1.15rem;
  border: none;
  border-radius: 6px;
  width: 103.5%;
  text-align: center;
  padding: 14.5px;
  cursor: pointer;
  transition: background 0.18s, transform 0.18s;
}

.buttonNewPassword:hover {
  background-color: #c09319ff;
  transform: scale(1.05);
}

